body {
     margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffe3ec, #ffd1e8, #ffc4e1);
    background-attachment: fixed;
}


header {
    background: #ff5c8a;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    gap: 1rem
}

header h1 {
    margin: 0;
    font-size: 32px;
}


main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    padding: 30px;
}


.product {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.25s ease;
    text-align: center;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 25px rgba(0,0,0,0.15);
}


.product h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #ff2d6a;
    margin: 10px 0;
}


.desc {
    font-size: 14px;
    color: #666;
    min-height: 40px;
    margin-bottom: 15px;
}


.product a {
    display: inline-block;
    padding: 8px 14px;
    background: #ff5c8a;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.2s;
}

.product a:hover {
    background: #ff2d6a;
}


.price {
    font-size: 20px;
    font-weight: bold;
    color: #ff2d6a;
    margin: 10px 0;
}

.desc {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
    min-height: 40px;
}

.cartWrapper {
    position: relative;
    width: fit-content;
}


.cart {
     position: absolute;
    width: 300px;
    right: -0.5rem;
    top: 2.3rem;
    background-color: #fff;
    border-radius: 12px;
    display: none; /* відкривається через JS */
    z-index: 5;
    color: #333;
    flex-direction: column;
    padding: 12px;
    gap: 8px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.cart li {
    list-style: none;
    background-color: #ff5c8a;
    padding: 8px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}


.cart p {
    text-align: center;
    color: #999;
    font-size: 14px;
}

.cart button {
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(135deg, #ff5c8a, #ff2d6a);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease;
}



.cart button:hover {
    background: linear-gradient(135deg, #ff2d6a, #e6004c);
    transform: scale(1.03);
}

.cart button:active {
    transform: scale(0.97);
}




.cart:before {
    content: "";
    height: 0.3rem;
    z-index: -1;
    position: absolute;
    bottom: 4rem;
    right: 0.2rem;
    border: 1rem solid transparent;
    border-top-width: 0;
    border-bottom-color: white;
    border-bottom-width: 1rem;
}